<a href="https://colab.research.google.com/github/pavansaikrishna78/Create-Blog/blob/main/Data_Scaling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing Libraries

In [2]:
import pandas as pd
import numpy as np

Loading Data

In [4]:
data = pd.read_csv('/content/sample_data/california_housing_test.csv')

Loading data

In [5]:
data.head(10)

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0
5    -119.56     36.51  ...         1.6635             67000.0
6    -121.43     38.63  ...         1.6641             67000.0
7    -120.65     35.48  ...         3.2250            166900.0
8    -122.84     38.40  ...         3.6696            194400.0
9    -118.02     34.08  ...         2.3333            164200.0

[10 rows x 9 columns]

Scaling data with min max scaler

In [7]:
from sklearn.preprocessing import MinMaxScaler

In [9]:
scaler = MinMaxScaler()
scaler.fit(data)

MinMaxScaler()

In [10]:
scaled_data = pd.DataFrame(data=scaler.transform(data),columns=data.columns,index=data.index)

In [11]:
scaled_data

      longitude  latitude  ...  median_income  median_house_value
0      0.219814  0.513889  ...       0.421277            0.674763
1      0.606811  0.181624  ...       0.213728            0.322512
2      0.657379  0.130342  ...       0.365064            0.519371
3      0.600619  0.134615  ...       0.388684            0.643978
4      0.465428  0.402778  ...       0.168108            0.123979
...         ...       ...  ...            ...                 ...
2995   0.445820  0.198718  ...       0.046834            0.424083
2996   0.623323  0.160256  ...       0.199356            0.449633
2997   0.462332  0.399573  ...       0.123419            0.082722
2998   0.728586  0.164530  ...       0.191094            0.293193
2999   0.469556  0.198718  ...       0.555916            1.000000

[3000 rows x 9 columns]